<div id="bar" class="row d-flex justify-content-center">
  <h1 class->Burgers!</h1>
</div>
<div class="container">
  <div class="row" id="burger-menu" >
    <div class="col-12 col-md-4 " id="middle">
      <div class="row"> 
        <div class="col-12 col-md-12 d-flex justify-content-center" id="middle">
          <h2 class="d-flex justify-content-center">Burger Menu!</h2>
        </div>
      </div>
      <div class="row"> 
        <div class="col-12 col-md-12 d-flex justify-content-center" id="middle">
          <ul>
            {{#each burgers}}
            {{#unless devoured}}
            {{> burgers/burger-block eat=true}}
            {{/unless}}
            {{/each}}
          </ul>
        </div>
    </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="row"> 
        <div class="col-12 col-md-12 d-flex justify-content-center">
          <h2 class="d-flex justify-content-center">Burgers To eat</h2>
        </div>
      </div>
      <div class="row"> 
        <div class="col-12 col-md-12 d-flex justify-content-center" id="middle">
          <ul>
            {{#each burgers}}
            {{#if devoured}}
            {{> burgers/burger-block eat=false}}
            {{/if}}
            {{/each}}
          </ul>
        </div>
    </div>
    </div>
    <div class="col-12 col-md-4 ">
      <div class="row"> 
        <div class="col-12 col-md-12 d-flex justify-content-center">
          <h2 class="d-flex justify-content-center">Add a Burger</h2><br>
        </div>
      </div>
      <div class="row"> 
        <div class="col-12 col-md-12 d-flex justify-content-center" id="new-hamburger-div">
          <form class="create-form">

          <div class="form-group" >
            <label for="burg">Burgers name:</label>
            <input type="text" id="burg" name="name_burger">
          </div>

          <div class="form-group">
            <label for="devoured">Which List</label><br>
            <input type="radio" name="devoured" value="1" checked> Order <br>
            <input type="radio" name="devoured" value="0"> Add to Menu
          </div>

          <button type="submit">Add Burger</button>
        </form>
        </div>
    </div>
    </div>
  </div>
</div>


