body{
  color: wheat;
  background-image: url("/img/2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#bar{
  background-color: rgba(0, 0, 0, 0.39);
  
}

.container{
  margin-top: 10rem;

}


ul li
{
	text-decoration: none;
	list-style: none;
}


#burger-card{
  width: 16rem;
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.616);

}

#new-hamburger-div{
  padding: 10px;
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.616);

}